:root {
    --clr-base-brand: #014532;
    --clr-border: rgb(199, 197, 197);
    --clr-backround: rgb(199, 197, 197);
    --clr-backround-hover: rgb(199, 197, 197);
    --clr-text-color: rgb(26, 26, 26);
}