.promotion {
    &__banner {
        background-color: rgb(246, 244, 242);
        padding-bottom: 5px;
        padding-top: 5px;
    }

    &__banner-button{
        position: absolute;
        top: 30px;
        right: 30px;
    }

    &__banner-text:hover {
        cursor: pointer;
    }

    &__banner-container {
        background-color: white;
        box-shadow: 2px 2px rgb(245, 239, 239);
        left: 0;
        position: absolute;
        right: 0;
        top: -120%;
        transition: 0.8s ease;
        width: 100%;
        z-index: 10;
    }

    &__banner-container--display {
        padding-bottom: 20px;
        top: 0;
    }

    &__banner-logo {
        padding: 20px 0px;
        text-align: center;
    }

    &__columns-wrapper {
        padding-bottom: 50px;
        padding-top: 20px;
    }

    &__banner-column {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 35px;
        padding-left: 0;
        text-align: start;
    }

    &__links-wrapper {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    &__col-links {
        color: black;
        font-weight: 500;
        text-decoration: underline;
    }
}

@media screen and (max-width: 1280px) {
    .promotion {
        &__banner {
            background-color: rgb(1, 69, 50);
            color: white;
        }

        &__banner-column {
            color: black;
        }

        &__banner-container {
            top: -180%;
        }

        &__banner-container--display {
            padding-bottom: 20px;
            top: 0;
        }

        &__logo-img {
            height: 50px;
            width: 150px;
        }

        &__close-btn {
            height: 40px;
            right: 20px;
            top: 30px;
            width: 40px;
        }
    }
}